<!doctype html>
<html  ng-app="techNodeApp">
    <head>
        <meta charset="UTF-8">
        <title>chat</title>
        <link rel="stylesheet" href="/style/room.css" />
        <link rel="stylesheet" href="/style/bootstrap/dist/css/bootstrap.css" />

        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/style/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/style/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="/style/angular/angular.js"></script>

        <script type="text/javascript" src="/technode.js"></script>
        <script type="text/javascript" src="/directive/auto-scroll-to-bottom.js"></script>
        <script type="text/javascript" src="/directive/ctrl-enter-break-line.js"></script>
    </head>
    <body>
    <div ng-app="techNodeApp">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">chat</a>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top:100px;">
            <div class="col-md-12">
                <div class="panel panel-default room" ng-controller="RoomCtrl">
                    <div class="panel-heading room-header">chat</div>
                    <div class="panel-body room-content">
                        <div class="list-group messages" autoScrollToBottom>
                            <div class="list-group-item message" 
                                 ng-repeat="message in messages">
                                someone : {{message}}
                            </div>
                        </div>
                        <form class="message-creator" ng-controller="MessageCreatorCtrl">
                            <div class=form-group>
                                <textarea required class="form-control message-input" 
                                  ng-model="newMessage" ctrlEnterBreakLine="createMessage()"
                                  placeholder="Ctrl+Enter to quick send"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
